.inline-block{
    display: inline-block;
    vertical-align: top;
    background-color: cornflowerblue;
    padding: 1%;
    font-size: 25px;
}

nav{
    width: 100%;
}

ul{
    width: 50%;
    padding: 1%;
}
body{
    background-color: rgb(156, 181, 154, 1);
}
.portrait{
    width: 55%;
    align-content: center;
}
.heroImg{
    height: 550px;
  padding: 25px;
}
p{
    font-size: large;
    font-family: monospace;
}
button{
    font-size: 15px;
    border-radius: 20px;
    background-color: cornflowerblue;
}
.content{
    width: 500px;
    margin: auto;
}
.inline-blockA{
    list-style: none;
    display: inline-block;
    color: aliceblue;
   padding: 1%;
   vertical-align: top;
   margin: 1%;
   font-size: 20px;
}
footer{
    background-color: #373738;
}