body{
    background-color: seagreen;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.button{
    background-color: ;
}
.nav-item{
    display: inline-block;
    Padding: 15px;
    background-color: yellow;
    
}